@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nebula";
  src: url("../assets/Nebula-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/Exo2-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Exo2", sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Exo2", sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
}

header {
  background-color: #2d2d2d;
  padding: 0.5rem 1rem;
  text-align: center;
  font-family: "Nebula", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #404040;
  user-select: none;
}

.container {
  display: flex;
  height: calc(100vh - 60px); /* Adjust height to fill the viewport */
  width: 100%;
  box-sizing: border-box;
}

.menu-section {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  justify-content: flex-start;
  align-items: stretch; /* Ensure buttons span full width */
  width: 220px; /* Adjust sidebar width */
  padding: 1rem;
  background-color: #2d2d2d;
  border-right: 1px solid #404040;
  height: 100%; /* Fill the full height */
  overflow-y: auto; /* Enables vertical scrolling if needed */
  user-select: none;
}

.menu-title {
  font-family: "Nebula", Arial, sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  user-select: none;
}

.boton-elegante {
  padding: 10px 20px; /* Smaller padding */
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 0.9rem; /* Smaller font size */
  cursor: pointer;
  border: 2px solid #1a1a1a;
  border-radius: 20px; /* Smaller border radius */
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  display: block; /* Ensures block layout */
  text-align: center;
  width: 100%; /* Makes buttons span the full width of the sidebar */
  margin-bottom: 0.5rem; /* Adds spacing between buttons */
  box-sizing: border-box;
  font-family: "Exo2", Arial, sans-serif;
}

.boton-elegante span {
  position: relative; /* Makes the text independently movable */
  display: inline-block; /* Ensures smooth hover behavior */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth text movement */
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.4s ease;
  z-index: 0;
}

.boton-elegante:hover::after {
  transform: scale(2.5);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #ffffff;
}

.boton-elegante:hover span {
  transform: translateY(-3px); /* Makes the text "float" upward */
  color: #000000; /* Optional: Change the text color on hover */
}

/* Checkbox section */

.checklist-section {
  background-color: #2d2d2d;
  border-right: 1px solid #404040;
}

.checkbox-section-list {
  font-family: "Exo2", Arial, sans-serif;
}

.text-shadow-big-dark {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.747);
}

.text-shadow-dark {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.815);
}

.login-button-shadow {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.747);
}